* {
  font-family: 'Narnoor', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: #F5F5F5
}

.background {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.edit-profile {
  width: 35%;
  height: 100vh;
  display: flex;
  margin-top: 40px;
  align-items: center;
}

#edit-profile-form {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.card-photo-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  height: 60vh;

}

.card-about-me {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#photo {
  width: 90%;
  margin-left: 25px;
  /* height: 50vh; */
}

#contact {
  display: flex;
  width: 60%;
  height: 15vh;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 25px;
}

#contact input {
  height: 4vh;
}

#contact-text h2 {
  margin-left: 25px;
}

#about-me {
  height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
}

#about-me textarea {
  width: 100%;
  height: 20vh;
}

.card-about-me button {
  width: 60px;
  border-radius: 15px;
}

h2 {
  margin-top: 20px;
}

.edit-experience {
  display: flex;
  width: 55%;
  height: 100vh;
  margin-top: 40px;
  flex-direction: column;
}

#edit-experience-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

#experiences {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}



#about-me-experiences {
  width: 100%;
  height: 20vh;
}

#photo img {
  border-radius: 45%;
  height: 20vh;
}

#photo input {
  width: 80%;
}

button {
  margin-top: 10px;
  width: 5%;
}

#edit-profile-form input,
#edit-profile-form textarea, #edit-experience-form textarea,  #edit-experience-form input {
  border-radius: 8px;
  padding-left: 10px;
  padding-bottom: 2px;
}

#experience1, #experience2, #experience3 {
  width: 80%;
  /* background-color: white; */
}

#save-experience, #discard-experience1 ,  #discard-experience2, #discard-experience3   {
  width: 12%;
}

#add-experience2 , #add-experience3 {
  width: 25%;
}

#experience2, #experience3 {
  visibility: hidden;
}