//edição de perfil
* {
    font-family: 'Narnoor', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    width: 100vw;
    background: #b2c5b2;
}

.background {
    width: 100%;
    height: 90vh;
    
}

.edit-profile {
    width: 100%;
    height: 100vh;
    display: flex;
  }

  #edit-profile-form {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
 
  .card-photo-contact {
     display: flex;
     width: 90%;
     height: 30vh;

  }

  .card-about-me {
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #about-me {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin-top: 20px;
  }

  #experiences {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #experiences textarea {
    width: 80%;
  }

  #experience1 {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 35vh;
    border: 1px solid;
    border-radius: 15px;
    margin-top: 20px;
    padding: 5px;
  }

  #experience2 {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 35vh;
    border: 1px solid;
    border-radius: 15px;
    margin-top: 20px;
    padding: 5px;
    visibility: hidden;
  }

  
  #experience3 {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 35vh;
    border: 1px solid;
    border-radius: 15px;
    margin-top: 20px;
    padding: 5px;
    visibility: hidden;
  }

  #experience1 input, #experience2 input, #experience3 input {
    width: 40%
  }

  #experience1 textarea, #experience2 textarea, #experience3 textarea {
    width: 90%;
  }


  #about-me-experiences {
    width: 40%;
    height: 20vh;
  }

  #about-me-text {
    width: 40%;
    height: 40vh;
  }

  #photo img {
    border-radius: 45%;
    height: 20vh;
  }

  #photo input {
    width: 80%;
  }

  button {
    margin-top: 10px; 
    width: 5%;
  } 

  #edit-profile-form input, #edit-profile-form textarea {
    border-radius: 8px;
    padding-left: 10px;
    padding-bottom: 2px;
  }