* {
    font-family: Poppins-Regular;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #778899;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: #FFE4E1;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-raidius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}