* {
    font-family: 'Narnoor', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle at 78.62% 111.37%, #e5ffff 0, #dbffff 25%, #cde5f2 50%, #bcc1c4 75%, #a9a19b 100%);
}

.principal-box {
    background-color: white;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.header {
    background-color: rgba(226, 211, 190, 0.623);
    height: 60px;
    max-height: 12%;
}
.principal-box h1 {
    height: 10vh;
    max-height: 10vh;
    text-align: center;
}

.principal-box form {
    height: 100vh;
    width: 100%;
}

.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.dados {
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 75%;
}

.dados input {
    display: block;
    border: 2px solid rgba(153, 135, 135, 0.171);
    width: 100%;
    height: 6vh;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.dados p {
    text-align: center;
}

.login-confirm {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-confirm button {
    width: 40%;
    height: 4vh;
    border-radius: 5px;
}

