* {
    font-family: Poppins-Regular;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    width: 100vw;
    background: #b2c5b2;
}

.background {
    width: 100%;
    height: 90vh;
    
}

.profile {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#profile {
    width: 25%;
    height: 50vh;
}

.perfil-card {
    width: 25%;
    height: 50vh;
}
.background h1 {
    text-align: center;
}

#logout {
    align-self: center
}

.perfil-card-photo {
    background-color: white;
    height: 50vh;
    flex-grow: 0.2;
    width: 100%;
}

.perfil-card-photo img {
    border-radius: 45%;
    width: 100%;
}

.perfil-card img {
    border-radius: 45%;
    width: 100%;
}

.perfil-card-datas {
    background-color: white;
    height: 50vh;
    border-radius: 10px;
    flex-grow: 0.2;
    max-width: 30%;
}

.perfil-card-datas p {
    font-size: 14px;

}

.perfil-card-resume {
    background-color: white;
    height: 50vh;
    border-radius: 10px;
    flex-grow: 0.2;
}

.avatar {
    width: 60%;
    height: 50vh;
}

//edição de perfil

  
  .edit-perfil-card-photo,
  .edit-perfil-card-datas {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Espaço entre os elementos dentro do cartão */
  }
  
  .edit-perfil-card-photo img {
    border-radius: 45%;
    width: 30%;
  }

  button {
    margin-top: 10px; /* Espaço acima do botão */
  }
