body { 
    width: 100%;
    /* background: linear-gradient(to right, rgba(205, 218, 161, 0.973), rgba(212, 218, 58, 0.8)); */
    background: #b2c5b2;
}

header {
    display: flex;
    flex-direction: row;
}

header h1, form {
    width: 50%;
}

.background {
    width: 100%;
    /* max-width: 100%; */
    height: 90vh;
    /* display: flex;
    flex-direction: column; */
}

.profile {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#profile {
    width: 25%;
    height: 50vh;
}

.perfil-card {
    width: 25%;
    height: 50vh;
}
.background h1 {
    text-align: center;
}

#logout {
    align-self: center
}

.perfil-card-photo {
    background-color: white;
    height: 50vh;
    flex-grow: 0.2;
    width: 100%;
}

.perfil-card-photo img {
    border-radius: 45%;
    width: 100%;
}

.perfil-card img {
    border-radius: 45%;
    width: 100%;
}

.perfil-card-datas {
    background-color: white;
    height: 50vh;
    border-radius: 10px;
    flex-grow: 0.2;
    max-width: 30%;
}

.perfil-card-datas p {
    font-size: 14px;

}

.perfil-card-resume {
    background-color: white;
    height: 50vh;
    border-radius: 10px;
    flex-grow: 0.2;
}

.avatar {
    width: 60%;
    height: 50vh;
}