* {
    font-family: Poppins-Regular;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    width: 100vw;
    background: #b2c5b2;
}

.background {
    width: 100%;
    height: 90vh;
    
}

.profile {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#profile {
    width: 25%;
    height: 50vh;
}

.perfil-card {
    width: 15%;
    height: 25vh;
    align-self: flex-start;
    margin-top: 30px;
}
.background h1 {
    text-align: center;
}

.perfil-card-photo {
    background-color: #E6E6FA;
    height: 50vh;
    flex-grow: 0.2;
    width: 100%;
}

.perfil-card img {
    border-radius: 45%;
    width: 100%;
}

.perfil-card-datas {
    background-color: #B0C4DE;
    height: 50vh;
    border-radius: 10px;
    flex-grow: 0.2;
    width: 25%;
    /* max-width: 30%; */
}

.perfil-card-datas p {
    font-size: 14px;

}

.perfil-card-resume {
    background-color: #B0C4DE;
    height: 50vh;
    border-radius: 10px;
    flex-grow: 0.2;
}

.avatar {
    width: 60%;
    height: 50vh;
};


