* {
    font-family: 'Narnoor', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
}

.background {
    width: 100%;
    height: 90vh;
    
}

.profile {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.background h1 {
    text-align: center;
}

.perfil-card-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    height: 100vh;
}

.card-photo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.card-photo img {
    border-radius: 45%;
    width: 40%;
    height: 20vh;
    alig-self: center;
}

.perfil-card-datas {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 80vh;
    width: 50%;
    border: 1px groove;
    border-radius: 10px;  
}

#about-me { 
    height: 30vh;
}

#objective, #experiences {
    height: 20vh;
}

.perfil-card-datas p {
    font-size: 14px;

}

.perfil-card-resume {
    height: 50vh;
    border-radius: 10px;
    width: 100%;
    background-color: white;
}

.avatar {
    width: 60%;
    height: 50vh;
};




