body { 
    width: 100%;
    background: linear-gradient(to right, rgba(205, 218, 161, 0.973), rgba(212, 218, 58, 0.8));
}

header {
    display: flex;
    flex-direction: row;
}

header h1, form {
    width: 50%;
}

.background {
    width: 100%;
    /* max-width: 100%; */
    height: 90vh;
    /* display: flex;
    flex-direction: column; */
}

.profile {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.background h1 {
    text-align: center;
}

#logout {
    align-self: center
}

.perfil-card-photo {
    background-color: white;
    height: 50vh;
    border-radius: 10px;
    flex-grow: 0.2;
}

.perfil-card-datas {
    background-color: white;
    height: 50vh;
    border-radius: 10px;
    flex-grow: 0.2;
}

.perfil-card-resume {
    background-color: white;
    height: 50vh;
    border-radius: 10px;
    flex-grow: 0.2;
}