* {
    font-family: Poppins-Regular;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 15px;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(205, 218, 161, 0.973), rgba(212, 218, 58, 0.8));
}

.principal-box {
    background-color: white;
    width: 400px;
    max-width: 100%;
    height: 600px;
    max-height: 100vh;
}

.header {
    background-color: rgba(226, 211, 190, 0.623);
    height: 60px;
    max-height: 12%;
}

.form {
    padding: 10px;
}

.dados {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.dados input {
    display: block;
    border: 2px solid rgba(153, 135, 135, 0.171);
    width: 360px;
    max-width: 95%;
    height: 6vh;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 5px;
}

.dados small {
    visibility: hidden;
    padding-left: 6px;
    font-size: 12px;
}


.dados.error small {
    visibility: visible;
    color: red;
}

.dados.error input {
    border-color: red;
}

.dados.succes input {
    border-color: green;
}

.dados.succes small {
    visibility: hidden;
}

.sign-up {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sign-up p {
    width: 60%;
}

.sign-up button {
    width: 40%;
    height: 4vh;
}

/* PÁG LOGIN */

.principal-box h1 {
    height: 10vh;
    max-height: 10vh;
    text-align: center;
}

.principal-box form {
    height: 90vh;
    max-height: 90vh;
}

.dados-login {
    width: 10px;
}

/*  Área restrita */
