body { 
    width: 100%;
    background: linear-gradient(to right, rgba(205, 218, 161, 0.973), rgba(212, 218, 58, 0.8));
}

.background {
    width: 90%;
    max-width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.profile, .user-list {
    width: 50%;
    height: 80vh;
}