<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/private.css">
</head>
<body>
    <header>
        
    </header>
    
    <div class="background">
        <h1>Perfil</h1>

        <div class="profile">
            <div class="perfil-card-photo">
                <h3>Terá uma foto</h3>
                <input type="file" name="image-perfil" required>
            </div>
            <div class="perfil-card-datas">
                <li>Nome: <%=userLogin.nome%></li>
                <li>Email: <%=userLogin.email%></li>
                <li>Idade: </li>
            </div>
            <div class="perfil-card-resume">
                <h3>Alguma coisa</h3>
            </div>
            
        </div>
    </div>
    <form id="logout" action="/logout" method="POST">
        <button>Fazer Logout</button>
    </form>
    
    <a href="/users">Lista de usuários</a>
    
</body>
</html>