<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/private.css">   
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">                                           
</head>
<body>

    <%- include('./partials/header') %>
    
    <div class="background">

        <div class="profile">
            
                <div class="perfil-card">
                    <h1><%=userLogin.nome%></h1>
                    <img class="avatar" src="/uploads/<%= userLogin.foto %>" alt="avatar-padrao">
                    
                </div>
             
                <div class="perfil-card-datas">
                    <span>Sobre mim:<p><%=userLogin.descricao%></p></span>
                    <span><br>Objetivo:</span>
                </div>
                <div class="perfil-card-resume">
                    <h3>Contatos e informações</h3>
                    <div id="user-age"><br>Idade:<input id="user-age" hidden></input></div>
                    <div id="user-state"><br>Estado:<input id="user-state" hidden></input></div>
                    <div id="user-city"><br>Cidade:<input id="user-city" hidden></input></div>
                    <div id="user-email"><br>Email:<input id="user-emil" hidden></input></div>
                    <div id="user-whats"><br>Telefone(WhatsApp):<input id="user-whats" hidden></input></div>
                    <div><button id="save">Salvar</button></div>
                </div>
                     
        </div>
    </div>
    
    
    
</body>
</html>