<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/private.css">
</head>
<body>
    <header>
        <h1>Bem vindo a área restrita</h1>
        <form id="logout" action="/logout" method="POST">
            <button>Fazer Logout</button>
        </form>
    </header>
    
    <div class="background">
        <div class="profile">
            <h1>Seu perfil</h1>
            <ul>
                <li>Nome: <%=userLogin.nome%></li>
                <li>Email: <%=userLogin.email%></li>
            </ul>
        </div>
        
        <div class="user-list">
            <h1>Lista de usuários</h1>
            <% users.map(userList=> { %> 
            <ol>
                <li><%= userList.email %></li>
            </ol>
            <% }) %>
        </div>
    </div>
    
</body>
</html>