<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/editPerfil.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Narnoor&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

        <div class="background">

            <div class="edit-profile">
                <form action="/upload" method="POST" id="edit-profile-form" enctype="multipart/form-data">
                    <div class="card-photo-contact">
                        <div id="photo">
                            <img class="avatar" src="/uploads/<%= userLogin.foto %>" alt="avatar">
                            <input type="file" name="avatar">
                        </div>
                        <div id="contact">
                            <input type="text" placeholder="Idade" name="age">
                            <input type="text" placeholder="Estado" name="state">
                            <input type="text" placeholder="Cidade" name="city">
                            <input type="text" placeholder="Email" name="email">
                            <input type="text" placeholder="Telefone(WhatsApp)" name="phone">
                        </div>
                    </div>
                    <div class="card-about-me">
                        <div id="about-me">
                            <label for="about-me">
                                <h2>Sobre mim</h2>
                                <b>
                                    <p>Fale um pouco sobre você, suas experiências e objetivos de carreira.</p>
                                </b>
                            </label>
                            <textarea id="about-me-text" type="text"
                                name="aboutMe"><%= userLogin.descricao %></textarea>
                        </div>
                        <button type="submit">Salvar</button>
                    </div>
                </form>
            </div>
            <div class="edit-experience">
                <form action="/" method="POST" id="edit-experience-form">
                    <div id="experiences">
                        <div id="experience1">
                            <h2>Experiências profissionais</h2>
                            <input type="text" placeholder="Nome da Empresa" name="companie">
                            <input type="text" placeholder="Cargo" name="ocupation">
                            <h4>Descreva as atividades</h4>
                            <textarea id="about-me-experiences" type="text" name="job"></textarea>
                        </div>
                        <div id="experience2">
                            <input type="text" placeholder="Nome da Empresa" name="companie">
                            <input type="text" placeholder="Cargo" name="ocupation">
                            <h4>Descreva as atividades</h4>
                            <textarea id="about-me-experiences" type="text" name=""></textarea>
                        </div>
                        <div id="experience3">
                            <input type="text" placeholder="Nome da Empresa" name="companie">
                            <input type="text" placeholder="Cargo" name="ocupation">
                            <h4>Descreva as atividades</h4>
                            <textarea id="about-me-experiences" type="text" name=""></textarea>
                        </div>
                    </div>
                </form>
                <button id="add-experience">Adicionar experiência</button>
            </div>

        </div>
        <script src="../javascripts/editPerfil.js"></script>
</body>

</html>