<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/private.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">
</head>
<body>
        <%- include('./partials/header') %>
   
    <div class="background">
        <h1>Editar Perfil</h1>

        <div class="edit-profile">
            <form action="/upload" method="POST" id="edit-profile" enctype="multipart/form-data">
                <div class="edit-perfil-card-photo">
                    <img class="avatar" src="/uploads/<%= userLogin.foto %>" alt="avatar">
                    <input type="file" name="avatar">  
                </div>
                <div class="edit-perfil-card-datas">
                    <h1><%=userLogin.nome%></h1>
                        <label for="about-me"><b>Sobre mim:</b></label>
                        <input type="text" id="about-me" name="aboutMe">
                </div>
                <button type="submit">Salvar</button>
            </form>  
               
        </div>
    </div>
    <form id="logout" action="/logout" method="POST">
        <button>Fazer Logout</button>
    </form>
</body>
</html>