<html>

<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Narnoor&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">

<body>
    <div class="back">
        <div class="principal-box">

            <h1>Criar uma conta</h1>

            <!--Formulário aponta para a rota de cadastro utilizando o método POST-->
            <form id="form" class="form" action="/cadastro" method="POST">

                <div class="dados">
                    <!-- <label for="email">Email</label> -->
                    <input type="text" id="email" placeholder="Email" name="email">
                    <small>Mensagem de erro</small>
                    <p style="color: red">
                        <%= error ? error : '' %>
                    </p>
                </div>

                <div class="dados">
                    <input type="text" id="name" placeholder="Nome" name="name">
                    <small>Mensagem de erro</small>
                </div>

                <div class="dados">
                    <input type="password" id="password" placeholder="Senha" name="senha">
                    <small id="password-msg">Mensagem de erro</small>
                </div>

                <div class="dados">
                    <input type="password" id="password-confirmation" placeholder="Confirme sua senha"
                        name="password-confirmation">
                    <small>Mensagem de erro</small>
                </div>

                <div class="sign-up">
                    <button type="submit">Cadastrar</button>
                    <p>Já tem uma conta? <a href="/login">Fazer Login</a></p>
                </div>
            </form>
        </div>











    </div>




    <script src="../javascripts/signUp.js"></script>
</body>







</html>