<header>
  <div class="principal">
    <div id="initial"><p>Inicio</p></div>
    <div id="users-list-icon"><p>Lista de usuários</p></div>
    <div id="places-list-icon"><p>Lista de agências</p></div>
  </div>

</header>